<button
  mat-icon-button
  (click)="volverAtras()"
  class="back-button"
  title="Volver al inicio"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<h1>Información de los usuarios</h1>

<mat-form-field>
  <mat-label>Buscar usuario</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Escribe aquí" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- nombre Column -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>

  <!-- apellido Column -->
  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
  </ng-container>

  <!-- fecha_nacimiento Column -->
  <ng-container matColumnDef="fecha_nacimiento">
    <mat-header-cell *matHeaderCellDef> Fecha de nacimiento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fecha_nacimiento}} </mat-cell>
  </ng-container>

  <!-- password Column -->
  <ng-container matColumnDef="password">
    <mat-header-cell *matHeaderCellDef> Contraseña </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
  </ng-container>

   <!-- usuario Column -->
  <ng-container matColumnDef="usuario">
    <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.usuario}} </mat-cell>
  </ng-container>

   <!-- rol Column -->
  <ng-container matColumnDef="rol">
    <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rol}} </mat-cell>
  </ng-container>

   <!-- email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

   <!-- telefono Column -->
  <ng-container matColumnDef="telefono">
    <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
  </ng-container>

   <!-- dni Column -->
  <ng-container matColumnDef="dni">
    <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>
  </ng-container>

   <!-- id_cobertura Column -->
  <ng-container matColumnDef="id_cobertura">
    <mat-header-cell *matHeaderCellDef> ID Cobertura </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id_cobertura}} </mat-cell>
  </ng-container>

  <!-- editar Column -->
  <ng-container matColumnDef="editar">
    <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
        <button (click)="getUser(element.id)" mat-icon-button color="primary" aria-label="Editar">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>

<br>
<hr>
<br>

<!-- FORMULARIO USUARIO -->

<div class="container">
  <form class="form" [formGroup]="createUserForm">
  <h1>Crear usuario</h1>

  <!-- NOMBRE Y APELLIDO -->
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput [formControl]="nombreFormControl" [errorStateMatcher]="matcher">

          <mat-error *ngIf="nombreFormControl.hasError('minlength') && !nombreFormControl.hasError('required')">
            Mínimo 3 caracteres
          </mat-error>

          <mat-error *ngIf="nombreFormControl.hasError('required')">
            Nombre es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </td>
    <td>
      <mat-form-field class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [formControl]="apellidoFormControl" [errorStateMatcher]="matcher">

        <mat-error *ngIf="apellidoFormControl.hasError('minlength')  && !apellidoFormControl.hasError('required')">
          Mínimo 3 caracteres
        </mat-error>

        <mat-error *ngIf="apellidoFormControl.hasError('required')">
          Apellido es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </td>
    </tr>
  </table>

  <!-- DNI -->
   <mat-form-field class="full-width">
      <mat-label>DNI</mat-label>
      <input matInput [formControl]="dniFormControl"
         placeholder="Ex. 12345678" [errorStateMatcher]="matcher">

      <mat-error *ngIf="(dniFormControl.hasError('minlength') || dniFormControl.hasError('maxlength')) && !dniFormControl.hasError('required')">
          Entre 7 y 8 caracteres
      </mat-error>

      <mat-error *ngIf="dniFormControl.hasError('pattern')">
        Solo se permiten caracteres numéricos.
      </mat-error>

      <mat-error *ngIf="dniFormControl.hasError('required')">
        DNI es <strong>requerido</strong>
      </mat-error>
  </mat-form-field>

  <br>

  <!-- TELEFONO -->
  <mat-form-field class="full-width">
      <mat-label>Telefono</mat-label>
      <input matInput [formControl]="telefonoFormControl"
         placeholder="Ex. 3423008899" [errorStateMatcher]="matcher">

      <mat-error *ngIf="(telefonoFormControl.hasError('minlength') || telefonoFormControl.hasError('maxlength')) && !telefonoFormControl.hasError('required')">
          Entre 10 y 12 caracteres
      </mat-error>

      <mat-error *ngIf="telefonoFormControl.hasError('pattern')">
        Solo se permiten caracteres numéricos.
      </mat-error>

      <mat-error *ngIf="telefonoFormControl.hasError('required')">
        Telefono es <strong>requerido</strong>
      </mat-error>
  </mat-form-field>

  <br>

  <!-- EMAIL -->
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- CONTRASEÑA -->
   
    <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput [formControl]="passFormControl" [errorStateMatcher]="matcher">

        <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
         Mínimo 8 caracteres
        </mat-error>

        <mat-error *ngIf="passFormControl.hasError('required')">
            Contraseña es <strong>requerida</strong>
        </mat-error>
    </mat-form-field>

  <!-- TIPO DE USUARIO -->
  <mat-form-field class="full-width">
    <mat-label>Rol</mat-label>
      <mat-select [formControl]="rolFormControl" [errorStateMatcher]="matcher">
        <mat-option value="operador">Operador</mat-option>
        <mat-option value="medico">Medico</mat-option>
        <mat-option value="admin">Administrador</mat-option>
      </mat-select>

    <mat-error *ngIf="coberturaFormControl.hasError('required')">
          Rol es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <br>

  <!-- FECHA NACIMIENTO -->
  <mat-form-field class="full-width">
  <mat-label>Fecha nacimiento</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="dateFormControl"
         placeholder="MM/DD/YYYY" [errorStateMatcher]="matcher"
         [max]="maxDate">
         
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon>keyboard_arrow_down</mat-icon> 
  </mat-datepicker-toggle>
  
  <mat-datepicker #picker></mat-datepicker>

  <mat-error *ngIf="dateFormControl.hasError('required')">
    Fecha nacimiento es <strong>requerida</strong>
  </mat-error>
</mat-form-field>

  <br>

  <!-- COBERTURA -->
  <mat-form-field class="full-width">
    <mat-label>Cobertura</mat-label>
      <mat-select [formControl]="coberturaFormControl" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let cobertura of listaCoberturas" [value]="cobertura.id">
          {{ cobertura.nombre }}
        </mat-option>
    </mat-select>

    <mat-error *ngIf="coberturaFormControl.hasError('required')">
          Cobertura es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>
  
  <div class="form-actions">
    <button *ngIf="!buttonUpdate" mat-raised-button (click)="crearNuevoUsuario()">Crear</button>
    <br>
    <button *ngIf="buttonUpdate" mat-raised-button (click)="actualizarUsuario()">Actualizar</button>
  </div>
</form>
</div>