<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <h3>Clínica Romellier</h3>
      <p>Tucumán 2721, Santa Fe</p>
      <p>
        <mat-icon>call</mat-icon>
        124-567890
      </p>
      <p>
        <mat-icon>email</mat-icon>
        <a href="#">
          clinicaromelier@gmail.com
        </a>
      </p>
    </div>

    <div class="footer-social">
      <a href="#">
        <mat-icon>facebook</mat-icon> Clinica Romellier
      </a>
    </div>
  </div>
</footer>
