<h1>admin</h1>
<div>Usuario: 12345678</div>
<div>Contraseña: admin123</div>
<h1>Medico</h1>
<div>Usuario: 87654321</div>
<div>Contraseña: dr12345678</div>

<div class="container">
  <form class="form" [formGroup]="loginForm">
    <h1>Iniciar sesión</h1>

    <!-- DNI -->
    <mat-form-field class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput [formControl]="dniFormControl"
         placeholder="Ex. 12345678" [errorStateMatcher]="matcher">

        <mat-error *ngIf="(dniFormControl.hasError('minlength') || dniFormControl.hasError('maxlength')) && !dniFormControl.hasError('required')">
          Entre 7 y 8 caracteres
        </mat-error>

        <mat-error *ngIf="dniFormControl.hasError('pattern')">
          Solo se permiten caracteres numéricos.
        </mat-error>

        <mat-error *ngIf="dniFormControl.hasError('required')">
          DNI es <strong>requerido</strong>
        </mat-error>
    </mat-form-field>

    <br>

    <!-- CONTRASEÑA -->
    <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput [formControl]="passFormControl"
            [errorStateMatcher]="matcher">

          <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
            Mínimo 8 caracteres
          </mat-error>

          <mat-error *ngIf="passFormControl.hasError('required')">
            Contraseña es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>

        <div class="form-actions">
            <button mat-raised-button (click)="iniciarSesion()">Iniciar sesión</button>
            <button mat-button color="warn" (click)="registrarse()">Registrarse</button>
        </div>
  </form>
</div>